.DS_Store
key.key
certificate.cert

## authentication-server
/authentication-server/node_modules/
/authentication-server/.env

## client-server
/client-server/node_modules/
/client-server/.env

## socket-server
/socket-server/node_modules/
/socket-server/.env

## authentication-server
/admin-server/node_modules/
/admin-server/.env