<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hynebot Control Center</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav class="navbar">
        <a href="/" class="logo">
            <!-- <img src="logo.png" alt="Logo" /> -->
             <p>Home</p>
        </a>
        <ul class="nav-links">
            <li><a href="/info">Info</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="info">
            <h1>Info</h1>
            <p>
                This interface allows users to control different hynebots over the internet.
                In order to be able to control the hynebot,
                you must get login credentials from the system administator and you must establish a 
                video/sound connection as agreed first (Teams/Zoom...).
                The system administrator then activates hynebot. Control it safely and consider others...
            </p>
    </div>
    <script src="js/index.js"></script>
</body>
</html>